{% extends 'base.html' %}
{% block conteudo%}

<form action="" xmlns="http://www.w3.org/1999/html">
    <label for="nome_atividade">Nome da Atividade:</label>
    <input id="nome_atividade" type="text" name="nome_atividade" >
    <br>
<label name ="data_atividade">Data da Atividade: </label>
    <input type="date" name="form_data_atividade">
    <br>
    <label>
        <input type="checkbox" name="form_recurso" value="net">Internet
        <input type="checkbox" name="form_recurso" value="net">celular
        <input type="checkbox" name="form_recurso" value="net">notebook
        <input type="checkbox" name="form_recurso" value="net">papel
        <input type="checkbox" name="form_recurso" value="net">caneta
    </label>
    <br>
    <select name="form_categoria_atividade">
        <option value="">Selecione a Categoria</option>
        <option value="esporte">esporte</option>
        <option value="Cultura">Cultura</option>
        <option value="educacional">Educacional</option>
    </select>
<br>
<label>
        Comentario:<br>
        <textarea rows="10" cols="30"></textarea>
    </label>
    <br>
<button type="submit">Adiconar Dados</button>
    <button type="reset">Limpar Dados</button>
    </label>

</form>
{{dados_atividade}}
{% for atividade in dados_atividade %}
{{atividade.nome}}<br>
{{atividade.recursos}}<br>
{{atividade.data}}<br>
{{atividade.categoria}}<br>
{{atividade.descricao}}

{% endfor %}


{% endblock conteudo%}